#tn1{
    text-align: center;
    color:darkmagenta;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}
html{
    background-color: black;
}
img{
    width: 100%;
    border: 5px solid yellow;
}
#ll{
    width: 50%;
   margin-left: 25%;
margin-top: 100px;

}
#be{
    color: darkmagenta;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.1em;
}
#sa{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.1em;
}
#dh{
     color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.1em;
} 
